<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EnsiasSolvelyJEE</display-name>
  <servlet>
    <servlet-name>HomeS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.HomeS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeS</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AboutUsS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.AboutUsS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUsS</servlet-name>
    <url-pattern>/AboutUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeclareS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.DeclareS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclareS</servlet-name>
    <url-pattern>/Declare</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProblemsS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.ProblemsS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProblemsS</servlet-name>
    <url-pattern>/Problems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentsS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.StudentsS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsS</servlet-name>
    <url-pattern>/Students</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.ContactS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactS</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.ProfileS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileS</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArchiveS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.ArchiveS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiveS</servlet-name>
    <url-pattern>/Archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudentS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.AddStudentS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentS</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentProblemsS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.StudentProblemsS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentProblemsS</servlet-name>
    <url-pattern>/StudentProblems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatisticsS</servlet-name>
    <servlet-class>com.EnsiasSolvely.servlets.StatisticsS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsS</servlet-name>
    <url-pattern>/Statistics</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>