
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

#contact {
  padding: 25px;
  margin: 20px auto;
  width: 30%;
}

#contact h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 33px;
}



fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  border-radius: 20px;
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact fieldset textarea:hover {
  border: 1px solid #02b8dd;
}

#contact input[type="text"]:focus ,
#contact input[type="email"]:focus,
#contact input[type="tel"]:focus ,
#contact input[type="url"]:focus,
#contact fieldset textarea:focus {
  border: 1px solid #000;
}

#contact textarea {
  height: 150px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 30%;
  border: none;
  background: #9a0a0a;
  color: #FFF;
  padding: 10px;
  font-size: 15px;
  display: block;
  border-radius: 20px;
  margin: 10px auto !important;
}

#contact button[type="submit"]:hover {
  background: black;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
