#addStudent {
	padding: 5px;
	border-radius: 20px;
	color: white;
	float: right;
	margin: 20px 10px;
	text-decoration: none;
	position: absolute;
	right: 0;
    font-size: 15px;
    background-color: #de0f0f;
    height: 25px;
    width: 100px;
    text-align: center;
    line-height: 18px;
}

#addStudent:hover {
    background-color: #000;
    -webkit-transition: background 0.3s ease-in-out;
  	-moz-transition: background 0.3s ease-in-out;
  	transition: background-color 0.3s ease-in-out;
}

h4 {
	text-align: center;
	margin: 30px auto 20px auto;
}



section form {
	margin-bottom: 20px;
	height: 40px;
	width: 25%;
	margin: 0 auto 20px auto;
	padding: 0;
}


#search {
    color: #fff;
    font-size: 15px;
    width: 30%;
    height: 28px;
	padding-bottom: 4px;
    background-color: #de0f0f;
    border-style: none;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 0;
  	margin-top: 10px;
  	float: right;
}

#search:hover {
	background-color: #000;
	-webkit-transition: background 0.3s ease-in-out;
  	-moz-transition: background 0.3s ease-in-out;
  	transition: background-color 0.3s ease-in-out;
}

form input[name="studentNumber"] {
	border-radius: 20px !important;
	height: 28px;
	width: 12%;
	margin-top: 0 !important;
	margin-left: 0;
	margin-right: 20px;
	text-align: center;
}