
input {
	border-radius: 15px;
}

h4 {
	margin-top: 50px;
	margin-bottom: 55px;
	text-align: center;
}

form {
	display: grid !important;
	margin: 30px auto;
}

form div {
	display: -webkit-box;
	width: 74%;
	margin: 13px auto;
}

input, select {
	margin: 0px auto !important;
	border-radius: 20px !important;
	text-align: center;
	width: 30% !important;
}

form div input:focus{
    border: 2px solid #000;
    border-radius: 20px;
}

form div input:hover {
    border: 2px solid #02b8dd;
}

.button-3 {
    color: #fff;
    font-size: 20px;
    padding: 11px;
    width: 120px !important;
    height: 40px;
    line-height: 5px;
    background-color: #de0f0f;
    border-style: none;
    border-radius: 20px;
    margin: 30px auto 20px auto !important;
}

.button-3:hover {
    background-color: #000;
}

footer {
	margin-top: 71px;
}
